# Env files in frontend and backend
00-react-javascript/.env
00-react-javascript/.env.*
01-nodejs-javascript/.env
01-nodejs-javascript/.env.*

# Optional: ignore node_modules, build folders
00-react-javascript/node_modules/
01-nodejs-javascript/node_modules/
build/
dist/